
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  color: #333;
  margin: 1rem;
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.container {
  margin: 2rem 5rem 2rem 5rem;
}

.container img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.gist, p, object {
  width: 70%;
}

svg {
  width: 70%;
}

iframe[seamless] {
  float: right;
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}
